.logo {
  width: 300px;
  height: 140px;
  text-align: center;
  font-size: 3rem;
  /* padding: 15px; */
  color: #fff;
  text-decoration: none;
  margin: 0;
  background: url("../images/background.jpg");
}

.navbar {
  padding: 0;
}

.admin-btn {
  border: none;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background: url("../images/background.jpg");
  height: 140px;
}


.admin-btn:focus { 
    outline: none; 
}

.admin-btn:hover {
  background: url("../images/background.jpg");
  text-decoration: none;
  color: #fff;
}

.nav-background {
  background: url("../images/characters.jpg"); 
  background-position: 270px;
  padding: 0;
}