form {
  margin-bottom: 15px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  margin-top: 130px;
}

.search-input:focus { 
    outline: none; 
}

.btn {
  position: relative;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  bottom: 6px;
}

.dropdown {
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
  color: #fff;
}

.name-sort:focus { 
    outline: none; 
}

.name-sort {
  background-color: rgba(245, 200, 118, 0.836);
  color: #404040;
  border-radius: 5px;
  margin-left: 3px;
}