form {
  margin-bottom: 15px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.btn {
  position: relative;
  margin-top: 10px;
  background: #404040; 
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  bottom: 6px;
}

